@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground); */
  /* background: var(--background); */
  font-family: Arial, Helvetica, sans-serif;
  background-image: radial-gradient(circle, rgba(57, 255, 20, 0.1) 1px, transparent 1px);
  background-size: 20px 20px;
}

/* @layer utilities {
  .text-balance {
    text-wrap: balance;
  }
} */


@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
  
  .bg-radial-dots {
    background-image: radial-gradient(circle, rgba(185, 189, 62, 0.323), 1px, transparent 1px);
    background-size: 20px 20px;
    background-repeat: repeat;
  }
}